@font-face {
    font-family: HelveticaNeueCyrMedium;
    color:black;
    src: url(../fonts/HelveticaNeue.woff);
}

.nav-link {
    font-family: HelveticaNeueCyrMedium,Arial,sans-serif;
    color: black;
}

.nav-link:hover {
    color: orange;
}


.carousel slide .item {
    height: 30px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}


@media (max-width: 576px) {
    #slider-photo img {
    height: 300px;
}
}

@media (min-width: 580px) {
    #slider-photo img {
        height: 600px;
    }
}

#aboutus {
    font-size: 18px;
}

@media (max-width: 576px) {
    header img {
        width: 100%;
        height: 130px;
    }
}

@media (min-width: 580px) {
    header img {
        width: 90%;
        height: 150px;
    }
}

@media (max-width: 576px) {
    #ourworks img {
        width: 100%;
        height: 120px;
    }
}

@media (min-width: 580px) {
    #ourworks img {
        width: 100%;
        height: 300px;
    }
}
#colors {
    font-family: HelveticaNeueCyrMedium,Arial,sans-serif;
    color: black;
    font-size: 30px;
}

#colors img {
    padding-bottom: 10px;
}

@media (max-width: 576px) {
    #colors img {
        padding-bottom: 10px;
        height: 120px;
        width: 100%;
    }
}

@media (min-width: 580px) {
    #colors img {
        padding-bottom: 10px;
        height: 200px;
        width: 100%;
    }
}

@media (max-width: 576px) {
    #colors .modal-body img {
        height: 100%;
        width: 100%;
    }
}

@media (min-width: 580px) {
    #colors .modal-body img {
        height: 100%;
        width: 100%;
    }
}