@font-face {
    font-family: HelveticaNeueCyrMedium;
    color:black;
    src: url(../fonts/HelveticaNeue.woff);
}

.nav-link {
    font-family: HelveticaNeueCyrMedium,Arial,sans-serif;
    color: black;
}

.nav-link:hover {
    color: orange;
}


.carousel slide .item {
    height: 30px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}


@media (max-width: 576px) {
    #slider-photo img {
    height: 300px;
}
}

@media (min-width: 580px) {
    #slider-photo img {
        height: 600px;
    }
}

#aboutus {
    font-size: 18px;
}

@media (max-width: 576px) {
    header img {
        width: 100%;
        height: 100px;
    }
}

@media (min-width: 580px) {
    header img {
        width: 90%;
        height: 120px;
    }
}

@media (max-width: 576px) {
    #ourworks img {
        width: 100%;
        height: 120px;
    }
}

@media (min-width: 580px) {
    #ourworks img {
        width: 100%;
        height: 300px;
    }
}